/* Estilo de fuente */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.fuente {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: "Raleway", "Open Sans";
}

/***Modificacion de navbar ***/

.navi {
  background-color: transparent !important;
}

.colorturquesa {
  background-color: #0dcaf0;
}

/*
.imgcards {
  height: 150px;
  width: 100%;
}*/

.imagen {
  display: flex;
}

.item {
  width: 100%;
  height: 150px;
  background: lightgrey;
}

.item2 {
  object-fit: cover;
}
